@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
:root {
    --logo-blue: rgb(52,83,129);
    --hover-blue: rgb(88, 138, 214);
    --background-color: rgb(209, 209, 209);
    --logo-writing: rgb(181,235,0);
    --ghost-face: rgb(129,193,187);
    --ghost-eyes: rgb(182,102,37);
    --light-text: whitesmoke;
}
body{
background-color: var(--background-color);
padding: 0;
margin: 0;
font-family: 'Modern Antiqua', "Open Sans";
}

textarea{
    max-width: 90%;
}
.image-border{
    border: 2px outset whitesmoke;
}
button{
    font-family: 'Modern Antiqua', "Open Sans";
    font-size: 110%;
    font-weight: bold;
}
button:hover{
    background: var(--ghost-face);
}

button:hover{
    cursor: pointer;
}

input[type=text]{
    font-family: 'Modern Antiqua', "Open Sans";
    font-size: 110%;
    font-weight: bold;
    width: 10em;
    border: 1px outset black;
}

select{
    font-family: 'Modern Antiqua', "Open Sans";
    font-size: 110%;
    font-weight: bold;
    width: 12em;
}
.page-heading{
    font-family: 'Lacquer', 'Modern Antiqua', 'Open Sans';
    text-align: center;
    font-weight: bold;
    color: var(--ghost-eyes);
    font-size: 300%;
    margin: .2em;
    text-decoration: underline;
}
/* flash messages -------------------------------------------------------------------- */
.flash-message-container{
    min-height: 1.5em;
    text-align: center;
}


/* number navigation -------------------------------------------------------------------- */

.number-block{
    background: var(--logo-blue);
    color: black;
}


.number-block-selected{
    background: var(--ghost-face);
    color: var(--ghost-eyes);
    text-decoration: underline;
}

.prev{
    background: dimgrey;
    color: white;
}
.next{
    background: dimgrey;
    color: white;
}
/* navbar -------------------------------------------------------------------- */
.site-logo:hover{
        cursor: pointer;
    }
#navbar-container-small{
    display: none;
    position: absolute;
}
.navbar-and-logo-container{
    display: flex;
}
.dropdown-box{
    display: none;
}
.navbar-logo-box{
    flex: 1;
}
.navbar-box{
    flex: 3;
    text-align: center;
}
.navbar-container{
    display: flex;
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
}

.navbar-container > div {
    background: var(--logo-blue);
    border: 2px outset black;
    color: var(--logo-writing);
    font-family: 'Lacquer', 'Modern Antiqua', 'Open Sans';
}

.add-story-box{
    flex: 1;
    cursor: pointer;
}

.add-story-box:hover{
    background: var(--ghost-face);
    border: 1px solid black;
}
.profile-box{
    flex: 1;
    cursor: pointer;
}
.profile-box:hover{
    background: var(--ghost-face);
    border: 1px solid black;
}
.feed-box{
    flex: 1;
    cursor: pointer;
}

.feed-box:hover{
    background: var(--ghost-face);
    border: 1px solid black;
}

.logout-box{
    flex: 1;
    cursor: pointer;
}
.logout-box:hover{
    background: var(--ghost-face);
    border: 1px solid black;
}
.search-box{
    flex: 2;
    padding-top: 2%;
    padding-bottom: 0;
}
.view-story-box > button:hover {
    cursor: pointer;
}

.navbar-container-small > div {
    background: var(--logo-blue);
    border: 2px outset black;
    color: var(--logo-writing);
    font-family: 'Lacquer', 'Modern Antiqua', 'Open Sans';
}

.add-story-box-small{
    border-top: 2px outset black;
    border-bottom: 1px outset black;
    cursor: pointer;
    padding-left: 1.5em;
}
.add-story-box-small:hover{
    background: var(--ghost-face);
}
.feed-box-small{
    flex: 1;
    border-bottom: 1px outset black;
    border-top: 1px outset black;
    cursor: pointer;
    padding-left: 1.5em;
}
.feed-box-small:hover{
    background: var(--ghost-face);
}
.profile-box-small{
    border-bottom: 1px outset black;
    border-top: 1px outset black;
    cursor: pointer;
    padding-left: 1.5em;
}
.profile-box-small:hover{
    background: var(--ghost-face);
}
.logout-box-small{
    border-top: 1px outset black;
    border-bottom: 2px outset black;
    cursor: pointer;
    padding-left: 1.5em;
}
.logout-box-small:hover{
    background: var(--ghost-face);
}
.search-box-small{
    text-align: left;
    margin-top: 1.5em;
    margin-left: 1.5em;
}
.search-submission{
    display: none;
}
.search-icon-div{
    display: inline-block;
    position: relative;
    width: 2em;
}
.search-icon{
    cursor: pointer;
    height: 2em;
    vertical-align: sub;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}

.logout-button{
    cursor: pointer;
    width: 100%;
    height: 120%;
    background:rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
    font-family: 'Modern Antiqua', "Open Sans";
    padding-top: 15%;
    padding-bottom: 18%;
    margin: 0;
    font-size: 100%;
    font-weight: bold;
}
.logout-button-small{
    cursor: pointer;
    width: 100%;
    height: 120%;
    background:rgba(0, 0, 0, 0);
    border: none;
    text-align: left;
    font-size: 100%;
    font-family: 'Modern Antiqua', "Open Sans";
    padding: 0;
    margin: 0;
}
/* feed page -------------------------------------------------------------------- */
.number-navigation{
    display: flex;
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 2.5em;
}

.feed-story-title{
    text-align: center;
    font-weight: bold;
    color:var(--ghost-eyes);
    text-decoration: underline;
    font-size: 150%;
}
.number-navigation > div {
    flex: 1;
    border: 1px solid black;
    text-align: center;
}
.number-navigation>div:hover{
    background: var(--ghost-face);
}
.number-nav-arrow{
    height: 80%;
}

.feed-and-filter-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5em;
}
.feed-div{
    background: rgba(0, 0, 0, 0);
    flex: 3;
    padding-right: .5em;
    padding-left: .5em;
}
.feed-edit-delete{
    text-align: right;
    margin-right: 2.5em;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
}
.filter-div{
    background: var(--logo-blue);
    color: var(--background-color);
    flex: 1;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2.5em;
    padding-top: 1.5em;
    margin-top: 1em;
    border: 2px outset whitesmoke;
}
.filter-button-div{
    text-align: left;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 1%;
}
.story-preview-box{
    margin-top: 1em;
    background: var(--logo-blue);
    color: var(--light-text);
    padding-left: 4%;
    padding-right: 4%;
    border: 2px outset whitesmoke;
    position: relative;
}

.profile-picture-box{
    overflow: hidden;
}

.feed-profile-picture-figure{
    cursor: pointer;
    margin: 0;
}
figure{
    margin: 0;
    padding-top: .5em;
    
}
figcaption{
    text-align: center;
}
.feed-profile-picture-outer{
    text-align: center;
    justify-content: center;
    position: relative
}
.feed-profile-picture{
    height: 5em;
    
}
.feed-favorite-picture{
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
}
.feed-div-inner-container{
    display: flex;
}

.feed-div-inner-container > div{
    margin-bottom: .5em;
    flex: 1;
    text-align: center;
}
.fav-picture-box{
    padding-bottom: 0;
}
.view-story-box{
    position: relative;
}
.view-story-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.checkbox-container{
    position: relative
}
.checkbox-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    background: rgba(0, 0, 0, .3)
}


.feed-title{
    text-align: left;
}
/*---------------------------------------------------------------*/
.page-container{
    position: relative;
    min-height: 100vh;
}

.page-content{
    padding-bottom: 2.5em;
}

.footer{
    background-color: var(--logo-blue);
    position: absolute;
    height: 2.5em;
    width: 100%;
    margin-top: 5em;
    padding-top: .5em;
    bottom: 0;
    text-align: center;
    color:var(--logo-writing);
}

/* login page -------------------------------------------------------------------- */
.login-page-logo-and-slogan-container{
    display: flex;
}

.logo-box{
    flex: 1;
    padding-left: 10%;
}

.slogan-box{
    flex: 1;
    text-align: center;
    padding: 8% 5% 0 5%;
}

.login-page-logo{
    width: 80%;
}


.login-form-container{
    display: flex;
    text-align: center;
    padding-bottom: 5%;
}

.login-box{
    flex: 1;
    background: rgb(214, 108, 108);
}

.register-box{
    flex: 1;
    background: rgb(108, 214, 131);
    text-align: center;
} 

.login-form-container-small{
    display: none;
    background:rgb(214, 108, 108);
}

.register-box-small{
    display: none;
    background:rgb(108, 214, 131);
    margin-bottom: 2.5em;
}

.login-titles-container{
    display: flex;
}
.login-title-box{
    flex: 1;
    background:rgb(214, 108, 108);
}
.register-title-box{
    flex: 1;
    background:rgb(108, 214, 131); 
}
.small-screen-login-flash{
    display: none;
    text-align: center;
}

/* profile page */
.follow-user-button{
    text-align: center;
}
/* finish profile page -------------------------------------------------------------------- */
.finish-profile-container{
    display: flex;
    margin-bottom: 2.5em;
    text-align: center;
}
.finish-profile-box-a{
    flex: 1;
}
.finish-profile-box-b{
    flex: 1;
}
.finish-profile-title{
    text-align: center;
}

.selected-picture{
    height: 10em;
}

.profile-picture-radio-buttons{
    display: none;
}
.profile-pic-selector{
    height: 20vh;
}

.profile-pic-selector > div > span {
    padding-bottom: 50%;
}

.picture-left-arrow:hover{
    cursor: pointer
}

.profile-icons-figure{
    cursor: pointer
}
.profile-icon{
    height: 12em;
}
.profile-icon:hover{
    cursor: pointer;
    fill: blue;
}

.profile-profile-picture{
    width: 50%;
}
.picture-right-arrow:hover{
    cursor: pointer
}
.finish-profile-submission{
    text-align: center;
}


/* finish profile page -------------------------------------------------------------------- */
.story-form{
    text-align: center;
}
/* finish profile page -------------------------------------------------------------------- */
.profile-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5em;
}
.profile-div-a{
    flex: 2;
}
.profile-div-b{
    flex: 3;
}
.profile-username-div{
    text-align: center;
}
.profile-picture-div{
    text-align: center;
}
.profile-location-div{
    text-align: center;
}
.profile-interest-div{
    text-align: center;
}
.profile-about-box{
    text-align: center;
}

.profile-icons-grid-inner {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.profile-icon{
    width: 100%;
}

/* Edit Profile Page---------------------------------------------------------------*/
.edit-profile-from-profile-page{
    text-align: center;
    margin-right: 10%;
}
.edit-profile-title{
    text-align: center;
}

/* Edit Story Page---------------------------------------------------------------*/

.edit-story-button {
    cursor: pointer;
}
.edit-story-title{
    text-align: center;
}
/* follower Page---------------------------------------------------------------*/
.follow-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
}
.follow-title{
    text-align: center;
}
.follow-picture-box{
    display: inline-block;
    width: 10%;
    border: 2px outset whitesmoke;
    padding: 0;
    margin-right: 10%;
    cursor: pointer;
}
.follow-figure{
    margin: 0;
    text-align: center;
}
.follow-picture{
    width: 5em;
}
.follow-name{
    cursor: pointer;
}
/* View Story Page---------------------------------------------------------------*/
.view-story-favs{
    text-align: center;
}
.story-area-indicator{
    text-align: center;
    text-decoration: underline;
}
.view-story-container{
        display: flex;
        text-align: center;
        margin-left: 5%;
        margin-right:5%;
        margin-bottom: 1.5em;
    }

    .story-details-box{
        flex: 1;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    .content-box{
        flex: 3;
    }
    .story-profile-picture{
        height: 8em;
    }


/* follower Page---------------------------------------------------------------*/
.follow-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
}
.follow-title{
    text-align: center;
}
.follow-picture-box{
    display: inline-block;
    width: 10%;
    border: 2px outset whitesmoke;
    padding: 0;
    margin-right: 10%;
    cursor: pointer;
}
.follow-figure{
    margin: 0;
    text-align: center;
}
.follow-picture{
    width: 90%;
}
.follow-name{
    cursor: pointer;
}
/* error pages---------------------------------------------------------------*/
.error-link{
    text-align: center;
    cursor: pointer;
}
.error-message{
    text-align: center;
}
/* media queries -------------------------------------------------------------------- */
@media screen and (max-width: 991px){

    .next-text{
        display: none;
    }
    .prev-text{
        display: none;
    }
    .navbar-box{
        display: none;
    }
    .dropdown-box{
        display: block;
        flex: 1;
        padding-left: 5%;
    }
    .navbar-logo-box{
        flex: 3;
    }
    #burger-icon{
        height: 60%;
        vertical-align: sub;
        margin-top: 20%;
        cursor: pointer;
    }
    #x-icon-box{
        text-align: right;
        position: relative;
    }
    #x-icon{
        position: absolute;
        top: -.45em;
        right: .2em;
        width: 2em;
        vertical-align: sub;
        margin-top: 1%;
        cursor: pointer;
    }

    .small-nav-heading{
        color: var(--logo-writing);
        text-align: center;
        font-family: 'Lacquer', 'Modern Antiqua', 'Open Sans';
    }
    #navbar-container-small{
        border: 2px outset black;
        display: none;
        min-width: 320px;
        position: fixed;
        top: 0;
        background: var(--logo-blue);
        z-index: 100;
    }
    .login-form-container{
        display: none;
    }
    .login-page-logo-and-slogan-container{
        flex-direction: column;
    }
    .slogan-box{
        padding-top: 0;
    }
    .login-form-container-small{
        display: block;
        text-align: center;
    }
    .small-screen-login-flash{
        display: block;
    }
    
    .finish-profile-container{
        flex-direction: column;
    }
    .feed-and-filter-container{
        display: block;
    }
    .profile-container {
        flex-direction: column;
    }
    .view-story-container{
        flex-direction: column;
    }
    .feed-div{
        padding: 0;
    }
}

@media screen and (min-width: 992px){
    #filter-opener{
        display: none;
        pointer-events: none;
    }
}

@media screen and (max-width: 768px){
    .profile-icons-grid-inner{
        grid-template-columns: auto auto;
    }
    .profile-icon{
        height: 7em;
    }
    .follow-container{
        grid-template-columns: auto;
    }
}
