body{
background-color: #888888;
padding: 0;
margin: 0;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.page-content{
    padding-bottom: 2.5em;
}

.footer{
    background-color: #666666;
    position: absolute;
    height: 2.5em;
    width: 100%;
    margin-top: 5em;
    padding: 0;
    bottom: 0;
    text-align: center;
}

/* login page -------------------------------------------------------------------- */
.login-page-logo-and-slogan-container{
    display: flex;
}

.logo-box{
    flex: 1;
    padding-left: 10%;
}

.slogan-box{
    flex: 1;
    text-align: center;
    padding: 8% 5% 0 5%;
}

.login-page-logo{
    width: 80%;
}


.login-form-container{
    display: flex;
    text-align: center;
    padding-bottom: 5%;
}

.login-box{
    flex: 1;
    background: rgb(214, 108, 108);
}

.register-box{
    flex: 1;
    background: rgb(108, 214, 131);
    text-align: center;
} 


@media screen and (max-width: 991px){
    .login-form-container{
        flex-direction: column;
    }
    .login-page-logo-and-slogan-container{
        flex-direction: column;
    }
    .slogan-box{
        padding-top: 0;
    }
    
}



