<!-- This is the base template for all of the site except the login and finish profile page
This template contains the navbars for small and large screens, the logo and the flash message
display -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <div class="page-container">
        <div class="page-content">
            <header>
                <div class="navbar-and-logo-container">
                    <!-- The small navbar display is set to none and changed via media queries
                    depending on the screen size. It is toggled up and down using a comination
                    of the burger icon and the x icon in the menu -->
                    <div id="navbar-container-small">
                        <nav>
                            <div id="x-icon-box">
                                <h3 class="small-nav-heading">Ghost Post</h3>
                                <!-- used to close the menu once it is opened -->
                                <img id="x-icon" src="{{ url_for('static', filename='images/x-icon.svg') }}"
                                    alt="clickable x-icon which closes menu">
                            </div>
                            <div class="add-story-box-small">
                                <!-- the navlink anchor tags are set to be the full size of the div
                                this means clicking anywhere on the div takes the user to the correct
                                page -->
                                <a class='nav-link-small' href="{{ url_for('add_story') }}">Add Story</a>
                            </div>
                            <div class="feed-box-small">
                                <a class="nav-link-small" href="{{ url_for('feed') }}">Feed</a>
                            </div>
                            <div class="profile-box-small">
                                <a class="nav-link-small" href="{{ url_for('profile') }}">Profile</a>
                            </div>
                            <div class="logout-box-small">
                                <!-- The logout link is actally a form with a hidden button
                                when the box is clicked the navbar.js clicks the hidden button to 
                                submit the form-->
                                <form method="POST" action="{{ url_for('login') }}">
                                    <h4>Logout</h4>
                                    <button style="display:none" id=logout-button-small></button>
                                    <input type="hidden" id='s-log_method' name='log_method' value='logout'>
                                </form>
                            </div>
                            <div class="search-box-small">
                                <form method="POST" action="{{ url_for('search') }}">
                                    <input type="text" name="search" id="s-search">
                                    <button class="search-submission" type=submit></button>
                                    <div class="search-icon-div">
                                        <img class="search-icon"
                                            src="{{ url_for('static', filename='images/search.svg') }}"
                                            alt="clickable search icon">
                                    </div>
                                </form>
                            </div>
                            <br>
                        </nav>
                    </div>
                    <div class="dropdown-box">
                        <!-- The burger icon toggles the menu up and down from the navbar.js script -->
                        <img id="burger-icon" src="{{ url_for('static', filename='images/burger.svg') }}"
                            alt="clickable dropdown icon">
                    </div>
                    <div class="navbar-logo-box">
                        <img class="site-logo" onclick="location.href=`{{ url_for('feed') }}`"
                            src="{{ url_for('static', filename='images/logo.svg') }}"
                            alt="Company logo for ghost post. It is a ghost drawing the words ghost post on a blue board">
                    </div>

                    <div class="navbar-box">
                    <!-- he larger navbar script operates the same as the smaller navbar. It is a
                    flexbox so responds to the changing screen size -->
                        <nav>
                            <br>
                            <div class="navbar-container">
                                <div class="add-story-box">
                                    <a class='nav-link' href="{{ url_for('add_story') }}">Add Story</a>
                                </div>
                                <div class="feed-box" onclick="location.href=`{{ url_for('feed') }}`">
                                    <a class="nav-link" href="{{ url_for('feed') }}">Feed</a>
                                </div>
                                <div class="profile-box">
                                    <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                                </div>
                                <div class="logout-box">
                                    <form method="POST" action="{{ url_for('login') }}">
                                        Logout
                                        <button style="display: none" id=logout-button></button>
                                        <input type="hidden" id='l-log_method' name='log_method' value='logout'>
                                    </form>
                                </div>
                                <div class="search-box">
                                    <form method="POST" action="{{ url_for('search') }}">
                                        <input type="text" name="search" id="l-search">
                                        <button class="search-submission" type=submit></button>
                                        <div class="search-icon-div">
                                            <img class="search-icon"
                                                src="{{ url_for('static', filename='images/search.svg') }}"
                                                alt="clickable search icon">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                {% block heading %}
                {% endblock %}
                <section>
                    <!-- This section displays any flash messages received from the various
                    python functions -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="flash-message-container">
                        {% for message in messages %}
                        <div>
                            <h4 class="flash-message">{{ message }}</h4>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <!-- If there is no message received there is simply an empty container. This
                    is to prevent errors in the flash.js script as it searches the document for
                    this container regardless -->
                    <h4 class="flash-message"></h4>
                    {% endif %}
                    {% endwith %}
                </section>
            </header>
            {% block content %}
            {% endblock %}
        </div>


        <div class="footer">
            © 2021 Ghost Post
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>

</body>

</html>