{% extends "base-2.html" %}
{% block title %}
<title>Edit Story</title>
{% endblock %}
{% block content %}
<main>
    <section>
        <div class="country-receiver-div" style="display: none">{{ location }}</div>
        <h3 class="page-heading">{{ username }}, you can edit your story below...</h3>
        <div class="story-form">
            <form method="POST" action="{{ url_for('edit_story', story=story) }}">
                <label for="title">Title: </label>
                <input type=text id="title" name="title" value={{ title }}><br><br>
                <label for="category">Category: </label>
                <select name="category" id="category">
                    <option value="Aliens" {% if category == "Aliens" %} selected {% endif %}>
                        Aliens</option>
                    <option value="Angels" {% if category == "Angels" %} selected {% endif %}>
                        Angels</option>
                    <option value="Demons" {% if category == "Demons" %} selected {% endif %}>
                        Demons</option>
                    <option value="Fairies" {% if category == "Fairies" %} selected {% endif %}>
                        Fairies</option>
                    <option value="Ghosts" {% if category == "Ghosts" %} selected {% endif %}>
                        Ghosts</option>
                    <option value="Vampires" {% if category == "Vampires" %} selected {% endif %}>
                        Vampires</option>
                    <option value="Witches/Wizards" {% if category == "Witches/Wizards" %} selected {% endif %}>
                        Witches/Wizards</option>
                    <option value="Witches/Wizards" {% if category == "Other" %} selected {% endif %}>
                        Other</option>
                </select><br><br>
                <label for="location">Location: </label>
                <select class="country-selector" name="location" id="location">
                </select><br><br>
                <label for="content">Content: </label><br>
                <textarea id="content" name="content" rows="30" cols="100"
                    placeholder="Write your story here (max 20000 char)" maxlength="20000" style="resize: none;"
                    required>{{ content }}</textarea><br>
                <button type="submit">Edit Story</button><br><br>
            </form>
        </div>
    </section>
</main>
<script src="{{ url_for('static', filename='js/countries.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit-story-script.js') }}"></script>
{% endblock %}