{% extends "base-2.html" %}
{% block title %}
<title>Feed</title>
{% endblock %}
{% block content %}
direction: {{ direction }}<br>
page: {{ page }}<br>
story count: {{ story_count }}<br>
first number: {{ first_number }}<br>
last number: {{ last_number }} <br>

<div class="number-navigation" div class="next">
    {% if page_count > 5 and first_number != 1 %}
        <div class="prev"  onclick="location.href=`{{ url_for('feed', page=page-1) }}`"">
            <img class="number-nav-arrow" src="{{ url_for('static', filename='images/left-arrow.svg') }}" 
                aria-hidden="true" alt="left arrow">
            Prev
            </div>
    {% endif %}
    {% for i in range(first_number, last_number+1) %}
        <div class="number-block" onclick="location.href=`{{ url_for('feed', page=i) }}`">
            {{ i }}
        </div>
    {% endfor %}
    {% if page_count > 1 and page < page_count %}
        <div class="next" onclick="location.href=`{{ url_for('feed', page=page+1) }}`">
            Next
            <img class="number-nav-arrow" src="{{ url_for('static', filename='images/right-arrow.svg') }}" 
                aria-hidden="true" alt="right arrow">
        </div>
    {% endif %}
</div>
{% endblock %}