<!-- This page displays the stories from the stories section of the db. The user can filter
the stories by category and sort them from newest to oldest and vice versa as well as by 
the number of favorites the story has-->
{% extends "base-2.html" %}
{% block title %}
<title>Feed</title>
<script src="{{ url_for('static', filename='js/delete-story-script.js') }}"></script>
{% endblock %}
{% block heading %}
<h3 class="page-heading"> Hi {{ username }}, here is your feed!</h3>
{% endblock %}
{% block content %}
<main>
    <div class="delete-receiver-div">{{ delete }}</div>
    <!-- the filter button toggles the filter on and off on smaller screens-->
    <p class="filter-button-div">
        <button id='filter-opener'>Filters</button>
    </p>
    <div class="feed-and-filter-container">
        <div id="filter-div" class="filter-div">
            <aside>
                <!-- The filter form sets the page to 1 and unfiltered to 1
                unfiltered 1 signifies to the app that the go button has been pressed on the filter
                and the user's choices are put into session cookies -->
                <form action="{{ url_for('feed', page=1, unfiltered=1) }}">
                    <input type="checkbox" id="allCheckBox" name="all" value="all" {{ all_checked }}>
                    <label for="allCheckBox"> All</label><br>
                    <div class="checkbox-container">
                        <div class="checkbox-filter"></div>
                        <!-- The checked variables dictate whether the boxes are checked or not 
                        depending on the user's previous choices -->
                        <input class="checkboxes" type="checkbox" id="aliens" name="aliens" value="Aliens"
                            {{ aliens_checked }}>
                        <label for="aliens"> Aliens</label><br>
                        <input class="checkboxes" type="checkbox" id="angels" name="angels" value="Angels"
                            {{ angels_checked }}>
                        <label for="angels"> Angels</label><br>
                        <input class="checkboxes" type="checkbox" id="demons" name="demons" value="Demons"
                            {{ demons_checked }}>
                        <label for="demons"> Demons</label><br>
                        <input class="checkboxes" type="checkbox" id="fairies" name="fairies" value="Fairies"
                            {{ fairies_checked }}>
                        <label for="fairies"> Fairies</label><br>
                        <input class="checkboxes" type="checkbox" id="ghosts" name="ghosts" value="Ghosts"
                            {{ ghosts_checked }}>
                        <label for="ghosts"> Ghosts</label><br>
                        <input class="checkboxes" type="checkbox" id="vampires" name="vampires" value="Vampires"
                            {{ vampires_checked }}>
                        <label for="vampires"> Vampires</label><br>
                        <input class="checkboxes" type="checkbox" id="witches_wizards" name="witches_wizards"
                            value="Witches/Wizards" {{ witches_wizards_checked }}>
                        <label for="witches_wizards"> Witches/Wizards</label><br>
                        <input class="checkboxes" type="checkbox" id="other" name="other" value="Other"
                            {{ other_checked }}>
                        <label for="other"> Other</label><br><br>
                    </div>

                    <br>
                    <label for="sort_method">Sort by: </label>
                    <select name="sort_method" id="sort_method">
                        <!-- The selected variables are passed from the app and dictate which option
                        is selected depending on the user's previous choices -->
                        <option value="3" {{ newest_selected }}>Newest(default)</option>
                        <option value="2" {{ oldest_selected }}>Oldest</option>
                        <option value="1" {{ most_favorites_selected }}>Favorites</option>
                    </select><br><br>
                    <button type="submit">Go</button>
                </form>
            </aside>
        </div>
        <div class="feed-div">
            <!-- 5 stories are displayed per page -->
            {% for i in range((page*5)-5, page*5) %}
            {% if stories[i] %}
            <section>
                <div class="story-preview-box">
                    <h4 class="feed-story-title">{{ stories[i].title }}</h4>
                    <!-- if the user owns the displayed story the edit and delete buttons will be
                    displayed -->
                    {% if username == stories[i].story_by %}
                    <div class='feed-edit-delete'>
                        <button class="edit-story-button"
                            onclick="location.href=`{{ url_for('edit_story', story=stories[i]._id) }}`">
                            Edit
                        </button>
                        <button class="delete-story-button" onclick="let toBeDeleted = this.nextElementSibling.innerHTML;
                               deleteStory(toBeDeleted)">
                            Delete
                        </button>
                        <!-- The div below holds the story id so it can be accessed by the onclick above
                        it is then processed by the delete story function which is located in the delete
                        story script -->
                        <div style="display: none">{{ url_for('delete_story', story=stories[i]._id) }}</div>

                    </div>
                    {% endif %}
                    Date Added: {{ stories[i].date_added }}<br><br>
                    Category: {{ stories[i].category }}<br><br>
                    Location: {{ stories[i].location }}<br><br>
                    Preview: {{ stories[i].preview }}<br><br>
                    <div class="feed-div-inner-container">
                        <div class="profile-picture-box">
                        <!-- as the stories entries in the database don't contain information about
                        the profile picture of the user that posted it. For this reason the story_by
                        variable is used to access the users section of the db using the global 
                        profile_picture_finder function-->
                            <figure class=feed-profile-picture-figure
                                onclick="location.href=`{{ url_for('profile', username=stories[i].story_by) }}`">
                                <div class="feed-profile-picture-outer">
                                    <img class="feed-profile-picture box-shadow"
                                        src={{ profile_picture_finder(stories[i].story_by) }}
                                        alt="profile picture for {{stories[i].story_by}}">
                                </div>
                                <figcaption>{{ stories[i].story_by  }}</figcaption>
                            </figure>

                        </div>
                        <div class="fav-picture-box">
                            <figure>
                                <img class="feed-favorite-picture"
                                    src="{{ url_for('static', filename='images/heart.svg') }}" alt="favorite icon">
                                <figcaption>Favs: {{ stories[i].favs }}</figcaption>
                            </figure>
                        </div>
                        <div class="view-story-box">
                            <button class="view-story-button"
                                onclick="location.href=`{{ url_for('view_story', story=stories[i]._id) }}`">
                                View Story
                                <img class="number-nav-arrow"
                                    src="{{ url_for('static', filename='images/right-arrow.svg') }}"
                                    style="vertical-align: text-bottom;" aria-hidden="true" alt="right arrow">
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- The piece of code is used to tell the app whether or not the user has applied a filter or not-->
    {% if unfiltered == 0 %}
    {% set unfiltered = 0 %}
    {% else %}
    {% set unfiltered = 2 %}
    {% endif %}
    <nav>
        <div class="number-navigation">
            <!-- The navigation is a flexbox and contains a max of 5 pages -->
            <!-- If the user isn't on the first page the Prev button is displayed  -->
            {% if page_count > 1 and page > 1 %}
            <div class="prev" onclick="location.href=`{{ url_for('feed', page=page-1, unfiltered=unfiltered) }}`">
                <img class="number-nav-arrow" src="{{ url_for('static', filename='images/left-arrow.svg') }}"
                    aria-hidden="true" alt="left arrow">
                <span class="prev-text">Prev</span>
            </div>
            {% endif %}
            {% for i in range(first_number, last_number+1) %}

            {% if i == page %}
            <!-- The current page is highlighted if i = page. The style of the number is changed
            to show the user what page they are on -->
            <div class="number-block-selected"
                onclick="location.href=`{{ url_for('feed', page=i, unfiltered=unfiltered) }}`">
                <b>{{ i }}</b>
            </div>

            {% else %}
            <div class="number-block" onclick="location.href=`{{ url_for('feed', page=i, unfiltered=unfiltered) }}`">
                {{ i }}
            </div>
            {% endif %}
            {% endfor %}
            {% if page_count > 1 and page < page_count %}
            <!-- If the user isn't on the last page the Next button is displayed  -->
            <div class="next" onclick="location.href=`{{ url_for('feed', page=page+1, unfiltered=unfiltered) }}`">
                <span class="next-text">Next</span>
                <img class="number-nav-arrow" src="{{ url_for('static', filename='images/right-arrow.svg') }}"
                    aria-hidden="true" alt="right arrow">
            </div>
            {% endif %}
        </div>
    </nav>
</main>
<script src="{{ url_for('static', filename='js/filter-script.js') }}"></script>
{% endblock %}