
<!-- This page shows the user's followers and is accessed from the user's profile page -->
{% extends "base-2.html" %}
{% block title %}
<title>Followers</title>
{% endblock %}
{% block heading %}
<h3 class='page-heading'>Followers of {{ username }}</h3>
{% endblock %}
{% block content %}
<main>
    <div class="followers-container-outer">
        <div class="follow-container">
            <!--  max 40 followers are displayed on each page. css grids are used to create
            the layout for the page-->
            {% for i in range((page-1) * 40, ((page-1)*40) +40) %}
            {% if followers[i] %}
            <div class="follow-box-">
                <div class="follow-picture-box">
                    <figure class="follow-figure"
                        onclick="location.href=`{{ url_for('profile', username=followers[i]) }}`">
                        <!-- The profile_picture_finder function is used again to display the 
                        users profile picture -->
                        <img class='follow-picture' src={{ profile_picture_finder(followers[i]) }}
                            alt="profile picture for {{followers[i]}}">
                    </figure>
                </div>
                <span class='follow-name' onclick="location.href=`{{ url_for('profile', username=followers[i]) }}`">
                    {{ followers[i] }}
                </span><br><br>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <nav>
        <!-- This navigation works in the same way as the feed page and is explained there -->
        <div class="number-navigation">
            {% if page_count > 1 and page > 1 %}
            <div class="prev" onclick="location.href=`{{ url_for('followers', username=username, page=page-1) }}`">
                <img class="number-nav-arrow" src="{{ url_for('static', filename='images/left-arrow.svg') }}"
                    aria-hidden="true" alt="left arrow">
                <span class="prev-text">Prev</span>
            </div>
            {% endif %}
            {% for i in range(first_number, last_number+1) %}

            {% if i == page %}
            <div class="number-block-selected"
                onclick="location.href=`{{ url_for('followers', username=username, page=i) }}`">
                <b>{{ i }}</b>
            </div>

            {% else %}
            <div class="number-block" onclick="location.href=`{{ url_for('followers', username=username, page=i) }}`">
                {{ i }}
            </div>
            {% endif %}
            {% endfor %}
            {% if page_count > 1 and page < page_count %}
            <div class="next" onclick="location.href=`{{ url_for('followers', username=username, page=page+1) }}`">
                <span class="next-text">Next</span>
                <img class="number-nav-arrow" src="{{ url_for('static', filename='images/right-arrow.svg') }}"
                    aria-hidden="true" alt="right arrow">
            </div>
            {% endif %}
        </div>
    </nav>
</main>
{% endblock %}