{% extends "base-2.html" %}
{% block title %}
<title>Following</title>
{% endblock %}
{% block heading %}
<h3 class='page-heading'>{{ username }} is following</h3>
{% endblock %}
{% block content %}
<main>
    <div class="followers-container-outer">
        <div class="follow-container">
            {% for i in range((page-1) * 40, ((page-1)*40) +40) %}
            {% if following[i] %}
            <div class="follow-box-">
                <div class="follow-picture-box">
                    <figure class="follow-figure"
                        onclick="location.href=`{{ url_for('profile', username=following[i]) }}`">
                        <img class='follow-picture' src={{ profile_picture_finder(following[i]) }}
                            alt="profile picture for {{ following[i] }}">
                    </figure>
                </div>
                <span class='follow-name' onclick="location.href=`{{ url_for('profile', username=following[i]) }}`">
                    {{ following[i] }}
                </span><br><br>
                <!-- <form method="POST" action="{{ url_for('following', username=username, page=page) }}">
        <button type="submit">
            <input type=text id="user_to_remove" name="user_to_remove" value = {{ following[i] }}>
            remove
        </button>
        </form> -->
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <nav>
        <div class="number-navigation">
            {% if page_count > 1 and page > 1 %}
            <div class="prev" onclick="location.href=`{{ url_for('following', username=username, page=page-1) }}`">
                <img class="number-nav-arrow" src="{{ url_for('static', filename='images/left-arrow.svg') }}"
                    aria-hidden="true" alt="left arrow">
                <span class="prev-text">Prev</span>
            </div>
            {% endif %}
            {% for i in range(first_number, last_number+1) %}

            {% if i == page %}
            <div class="number-block-selected"
                onclick="location.href=`{{ url_for('following', username=username, page=i) }}`">
                {{ i }}
            </div>

            {% else %}
            <div class="number-block" onclick="location.href=`{{ url_for('following', username=username, page=i) }}`">
                {{ i }}
            </div>
            {% endif %}
            {% endfor %}
            {% if page_count > 1 and page < page_count %}
            <div class="next" onclick="location.href=`{{ url_for('following', username=username, page=page+1) }}`">
                <span class="next-text">Next</span>
                <img class="number-nav-arrow" src="{{ url_for('static', filename='images/right-arrow.svg') }}"
                    aria-hidden="true" alt="right arrow">
            </div>
            {% endif %}
        </div>
    </nav>
</main>
{% endblock %}