{% extends "base-2.html" %}
{% block title %}
<title>Profile</title>
{% endblock %}
{% block content %}
<div class="profile-container">
    <div class="profile-div-a">
        <div class="profile-username-div">{{ username }}</div><br>
        <div class="profile-picture-div">
            <img src={{ profile_picture }} style = "width: 70%;" alt="users profile picture">
        </div><br><br>
        <div class="profile-location-div">Location: {{ location }}</div><br><br>
        <div class="profile-interest-div">Main Interest: {{ interest }}</div><br><br>
    </div>
    <div class="profile-div-b">
        <div class="profile-icons-div">
            <br>
            <div class="profile-icons-grid-outer">
                <div class="profile-icons-grid-inner">
                    <div class="profile-icons-stories-box">
                        <figure>
                            <img class="profile-icon" 
                                src="{{ url_for('static', filename='images/book.svg') }}">
                            <figcaption>Stories</figcaption>
                        </figure>
                    </div>
                    <div class="profile-icons-favs-box">
                        <figure>
                            <img class="profile-icon" 
                                src="{{ url_for('static', filename='images/heart.svg') }}">
                            <figcaption>Favs</figcaption>
                        </figure>
                    </div>
                    <div class="profile-icons-followers-box">
                        <figure>
                            <img class="profile-icon" 
                                src="{{ url_for('static', filename='images/follower.svg') }}">
                            <figcaption>Followers</figcaption>
                        </figure>
                    </div>
                    <div class="profile-icons-following-box">
                        <figure>
                            <img class="profile-icon" 
                                src="{{ url_for('static', filename='images/following.svg') }}">
                            <figcaption>Following</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            </div>
        <div class="profile-about-box">
            About Me:<br>
            {{ about }}
        </div>

    </div>
</div>

{% endblock %}