{% extends "base-2.html" %}
{% block title %}
<title>Profile</title>
{% endblock %}
{% block heading %}
<h3 class="page-heading"> Profile for {{ username }}</h3>
{% endblock %}
{% block content %}

{% if own_profile == 'yes' %}
<div class="edit-profile-from-profile-page">
    <button onclick="location.href=`{{ url_for('edit_profile') }}`">
        Edit Profile
    </button>
</div>
{% else %}
{% if follows == 'no' %}
<div class="follow-user-button">
    Not Following: <button onclick="location.href=`{{ url_for('follow_user', username=username) }}`">
        Follow
    </button>
</div>
{% else %}
<div class="follow-user-button">
    Following: <button onclick="location.href=`{{ url_for('unfollow_user', username=username) }}`">
        Unfollow
    </button>
</div>
{% endif %}
{% endif %}
<div class="profile-container">
    <div class="profile-div-a">
        <div class="profile-username-div">{{ username }}</div><br>
        <div class="profile-picture-div">
            <img src={{ profile_picture }} style = "width: 70%;" alt="users profile picture">
        </div><br><br>
        <div class="profile-location-div">Location: {{ location }}</div><br><br>
        <div class="profile-interest-div">Main Interest: {{ interest }}</div><br><br>
    </div>
    <div class="profile-div-b">
        <div class="profile-icons-div">
            <br>
            <div class="profile-icons-grid-outer">
                <div class="profile-icons-grid-inner">
                    <div class="profile-icons-stories-box">
                        <figure class="profile-icons-figure"
                            onclick=
                            "location.href=`{{ url_for('user_stories', page=1, unfiltered=0, stories_by=username) }}`">
                            <img class="profile-icon" 
                                src="{{ url_for('static', filename='images/book.svg') }}">
                            <figcaption>Stories</figcaption>
                        </figure>
                    </div>
                    <div class="profile-icons-favs-box">
                        <figure class="profile-icons-figure"
                            onclick=
                            "location.href=`{{ url_for('favorites', page=1, unfiltered=0, favorites_of=username) }}`">
                            <img class="profile-icon" 
                                src="{{ url_for('static', filename='images/heart.svg') }}">
                            <figcaption>Favs</figcaption>
                        </figure>
                    </div>
                    <div class="profile-icons-followers-box">
                        <figure class="profile-icons-figure"
                            onclick=
                            "location.href=`{{ url_for('followers', page=1, username=username) }}`">
                            <img class="profile-icon" 
                                src="{{ url_for('static', filename='images/follower.svg') }}">
                            <figcaption>Followers</figcaption>
                        </figure>
                    </div>
                    <div class="profile-icons-following-box">
                        <figure class="profile-icons-figure"
                            onclick=
                            "location.href=`{{ url_for('following', page=1, username=username) }}`">
                            <img class="profile-icon" 
                                src="{{ url_for('static', filename='images/follower.svg') }}">
                            <figcaption>Following</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            </div>
        <div class="profile-about-box">
            About Me:<br>
            {{ about }}
        </div>

    </div>
</div>

{% endblock %}