{% extends "base-2.html" %}
{% block title %}
<title>{{ title }}</title>
{% endblock %}
{% block content %}
<div class="view-story-container">
    <h3> {{ title }} </h3>
    Favs: {{ favs }} <br><br>
    Category : {{ category }} <br><br>
    location: {{ location }} <br><br>
    {{ content }} <br><br>
    <figure class=feed-profile-picture-figure
                onclick="location.href=`{{ url_for('profile', username=story_by) }}`">
                <img class="feed-profile-picture" 
                    src={{ profile_picture_finder(story_by) }}>
                <figcaption>Story by: {{ story_by  }}</figcaption>
    </figure>
</div>

{% endblock %}